.App {
  font-family: sans-serif;
  text-align: center;
}

.Stage {
  background: lightgray;
}

.dragging {
  opacity: 0.5;
}

.NodeView {
  stroke: black;
  fill: transparent;
}

.NodeView__text {
  fill: black;
  pointer-events: none;
  user-select: none;
}
