.App {
  font-family: sans-serif;
  text-align: center;
}

.Stage {
  background: lightgray;
}

.dragging {
  opacity: 0.5;
}

.NodeView {
  stroke: black;
  fill: white;
}

.NodeView--selected {
  stroke: blue;
  fill: rgb(224, 224, 255);
}

.NodeView__text {
  pointer-events: none;
  user-select: none;
}

.NodeView__text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  height: 100%;
  margin: 0;
}

.EdgeView {
  stroke: black;
  stroke-width: 2px;
}
