:root {
  --space: 8px;
  --radius: 4px;
  --border-width: 1px;

  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-lg: 1.8rem;

  /* @see https://material-ui.com/customization/color/#color-palette */
  --palette-white: #ffffff;
  --palette-blue-200: #90caf9;
  --palette-blue-300: #64b5f6;
  --palette-blue-400: #90caf9;
  --palette-blue-500: #42a5f5;
  --palette-pink-200: #f48fb1;
  --palette-pink-300: #f06292;
  --palette-pink-400: #ec407a;
  --palette-pink-500: #e91e63;
  --palette-pink-a100: #ff80ab;
  --palette-pink-a200: #ff4081;
  --palette-pink-a400: #f50057;

  --palette-grey-50: #fafafa;
  --palette-grey-100: #f5f5f5;
  --palette-grey-200: #eeeeee;
  --palette-grey-300: #e0e0e0;
  --palette-grey-400: #bdbdbd;
  --palette-grey-500: #9e9e9e;
  --palette-grey-600: #757575;
  --palette-grey-700: #616161;
  --palette-grey-800: #424242;
  --palette-grey-900: #212121;

  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-text: var(--palette-grey-900);
  --color-disabled: var(--palette-grey-500);
  --color-hover: var(--palette-blue-300);
  --color-active: var(--palette-blue-200);
  --color-primary: var(--palette-blue-500);
  --color-primary-text: var(--palette-white);
  --color-secondary: var(--palette-pink-a400);
  --color-secondary-text: var(--palette-white);
}

.App {
  display: flex;
  flex-direction: column;
  font-size: var(--font-md);
}

.Button {
  padding: var(--space);
  border: var(--border-width) solid var(--color-primary);
  border-radius: var(--radius);
  background: var(--color-primary);
  color: var(--color-primary-text);
}

.Button:hover {
  background: var(--color-hover);
  border-color: var(--color-hover);
  cursor: pointer;
}

.Button:active {
  background: var(--color-active);
  border-color: var(--color-active);
  cursor: pointer;
}

.Button:disabled {
  background: var(--color-disabled);
  border-color: var(--color-disabled);
  cursor: default;
}

.ControlPanel {
  box-shadow: 0 1px 1px 0 var(--color-shadow);
  padding: var(--space);
}

.ControlPanel__button + .ControlPanel__button {
  margin-left: var(--space);
}

.Stage {
  background: lightgray;
}

.dragging {
  opacity: 0.5;
}

.NodeView {
  stroke: var(--palette-grey-900);
  fill: var(--palette-white);
}

.NodeView--selected {
  stroke: blue;
  fill: rgb(224, 224, 255);
}

.NodeView__text {
  pointer-events: none;
  user-select: none;
}

.NodeView__text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text);
  height: 100%;
  margin: 0;
}

.EdgeView {
  stroke: var(--palette-grey-900);
  stroke-width: 2px;
}

.EdgeView--selected {
  stroke: blue;
}
